div#wrap-section {
    background-color: white;
    width: 40vw;
    height: 65vh;
    text-align: left;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: hsl(235, 18%, 26%);
}
img#success-img {
    width: 20px;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 25px;
}
button#buton {
    width: 30vw;
    height: 7vh;
    margin-left: 40px;
    background-color: hsl(234, 29%, 20%);
    color: aliceblue;
    font-size: large;
}
button#buton:hover {
    transition-property: box-shadow;
    transition-duration: 2s;
    box-shadow: 3px 2px 5px green, 2px 4px 5px red, 3px 2px yellow;
}
span.your-email {
    font-weight: 300px;
}
main.contents {
    margin-left: 30px;
    margin-top: 10px;
}