ul#unlist li {
    list-style-image: url('asset\ images/icon-list.svg');
    list-style-position: 1rem;
}
ul#unlist {
    grid-area: row3;
    margin-top: 4rem;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: clamp(3rem, 2em + 33m, 5em);
    font-family: 'Roboto', 'Arial', sans-serif;
}
.header-info {
    margin-bottom: -50px;
}
div.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 26rem);
    grid-template-rows: repeat(7, 4rem);
    grid-template-areas: 
    'row1 col1row1'
    'row2 col2row2'
    'row3 col3row3'
    'row4 col4row4'
    'row5 col5row5'
    'row6 col6row6'
    'row7 col7row7'
    ;
    gap: 1em;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    width: 60rem;
    text-align: center;
    height: 41rem;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
div.text-wrap {
    position: relative;
    top: 440%;
}
body {
    background-color: hsl(235, 18%, 26%);
}
a {
    text-decoration: none;
}
p.em {
    margin-top: 60px;
}
#input-el {
    border-radius: 10px;
    width: 20rem;
    height: 3rem;
    grid-area: row5;
    transform: translateX(23%);
    text-align: left;
    font-size: large;
    text-indent: 1rem;
}
#input-el::selection {
    background-color: rgb(215, 129, 95);
}
#input-el:focus {
    background-color: rgb(255, 187, 169);
}
#btn {
    transform: translateX(23%);
    border-radius: 10px;
    width: 20rem;
    height: 3rem;
    grid-area: row6;
    text-align: center;
    background-color: blue;
    font-size: 16px;
    color: white;
}
#btn:hover {
    box-shadow: 2px 2px 3px rgb(189, 85, 85), 3px 3px rgb(62, 62, 106);
    font-size: 20px;
    transition-property: box-shadow;
    transition-duration: 2s;
}
p.join {
    grid-area: row2;
    margin-top: 5rem;
}
div.attribution {
    grid-area: row7;
}
p.em {
    grid-area: row4;
    margin-top: 2rem;
    margin-bottom: -2rem;
}
#img-val {
    grid-area: col5row5;
    margin-bottom: 4rem;
    margin-left: 2rem;
}
#form-valid {
    grid-area: row5;
    transform: translateX(-23%);
    margin-top: 5rem;
    margin-bottom: 2rem;
    gap: 2em;
}
.form-cont-wrap {
    line-height: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
@media screen and (max-width: 1000px) {
    div.wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 0;
        height: 74rem;
        width: 40rem;
        position: absolute;
    }
    #img-val {
        display: block;
        width: 40rem;
        margin-left: 0;
        height: 21rem;
        margin-top: 1.4rem;
        border-radius: 10px;
        object-fit: cover;
    }
    div.text-wrap {
        top : 0;
        bottom: 5rem;
    }
    body {
        font-size: 25px;
    }
    #form-valid {
        margin-bottom: 3rem;
    }
    #btn {
        width: 35rem;
        height: 4rem;
        font-size: large;
    }
    #input-el {
        width: 35rem;
        height: 4rem;
    }
    p.join {
        margin-top: 6rem;
    }
}
@media screen and (max-width: 426px) {
    body {
        font-size: 18px;
        text-align: center;
    }
    div.wrapper {
        margin-left: 23px;
    }
    #input-el {
        width: 25rem;
        height: 4rem;
    }
    #btn {
        width: 25rem;
        height: 4rem;
    }
}
@media screen and (max-width: 321px) {
    body {
        font-size: 18px;
        background-color: aliceblue;
        display: flex;
        align-items: first baseline;
        text-align: center;
    }
}